$("#del_specialty_<%= @specialty.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Especialidad eliminada correctamente").show();
