$("#del_presciption_<%= @prescription.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Prescripción eliminada correctamente").show();
