$("#del_time_slot_<%= @time_slot.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Horario eliminado correctamente").show();
