<div id="footer">
  <div class="container">
    <p class="footer-block center mt-2">This work is licensed under the GPL v2 License <span class="copyleft">&copy;</span> <%= Date.today.year %>.</p>
  </div>
</div>