$("#del_user_<%= @user.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Usuario eliminado correctamente").show();
