<div class="container col-md-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #F2F2F2">
      <li class="breadcrumb-item active" style="margin: auto" aria-current="page">¿ Problemas de salud ? te ayudamos a encontrar al mejor especialista.</li>
    </ol>
  </nav>
  <div style="margin: auto;" class="shadow-style card mt-2">
    <div class="view overlay hm-white-slight">
      <%= image_tag("/assets/medicine.jpg" ,style: 'height: 320px; width: 100%;')%>
      <a href="#">
        <div class="mask waves-effect waves-light"></div>
      </a>
    </div>
    <div class="card-body text-center mb-3">
      <blockquote class="blockquote mb-0">
        <p>The art of medicine consists in amusing the patient while nature cures the disease.</p>
        <footer class="blockquote-footer">Voltaire</footer>
      </blockquote>
    </div>
  </div>
</div>