$("#del_doctor_<%= @doctor.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Doctor eliminado correctamente").show();
