<% if @medical_card.errors.empty? %>
$('.alert-success').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Ficha medica modificada con exito").show();
$('#medical-modal').modal('hide');
<% else %>
alert('<%= @medical_card.errors.full_messages[0] %>');
<% end %>