/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "datatables";
@import "daterangepicker";


.img-fractal{
  background-image: url('/assets/fractal.jpg');
  background-size : cover;
}

.img-class{
  width: 520px;
  height:400px;
  padding: 20px 10px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.2rem 0.5rem;
  font-size: 0.700rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

ul {
  list-style: none;
}

.font-img{
  color: #F7F7F7;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 3px;
}


.bordered {
  width: 450px;
  height: 70px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;

}

.left-label{
  text-align: initial;
}

.div-login{
  margin: auto;
  border: 1px solid #cec5c5;
  padding: 30px

}

.previous_page{
  margin: 0 auto;
}

.next_page{
  margin: 0 auto;
}

/*a[rel=prev] {
  padding: 0px 10px;
}

a[rel=next] {
  padding: 0px 10px;
}*/

.div-center{
  margin: auto;
}
.center{
  text-align: center;
}
.webkit-center{
  text-align: -webkit-center;
}

.navbar-custom {
  border-radius: 0px;
  z-index: 16;
  box-shadow: 0 2px 3px 0 rgba(0,0,0, .4);
}

.img_nav{
  width: 65px;
  height: 50px;
}

.img_nav_profile{
  width: 40px;
  height: 35px;
  border-radius: 50%;
}

.margin-index{
  margin-top: -8px;
  margin-left: 60px;
}

.none {
  display:none;
}

.no-underline{
  text-decoration: none;
}


.container{
  padding: 10px
}

.justify{
  text-align: justify;
}
.right{
  text-align: right;
}

.search{
  margin: auto;
  width: 50%;
}



.main-color{
  background-color: #F2F2F2;
  border-radius: 8px;
  webkit-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px
}
.cover{
  background-size: cover;
  background-position: center;
}

.margin-name{
  margin: 5px;
}


.nav-bar-bg{
  background-color: black;
}

.border-hr{
  border-top: 2px solid #5cc0ff;
}

.scrollToTop{
  width:110px;
  height:130px;
  padding:10px;
  text-align:center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:450px;

  display:none;
  background: url('/assets/scroll.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
  text-decoration:none;
}

.nav-shadow{
  box-shadow: 3px 3px 10px #bababa;
}

.dropdown-margin{
  min-width: 0px !important;
}

.black-title{
  color: #111;
}

.border-imagen-item{
  height: 60px;
  padding-top: 10px
}
.border-div-shadow{
  text-align: center; border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #bababa;
  border-radius: 3px;
}

.border-item{
  background-color: #2E2F30;
  border-radius: 5px;
}

.username-span{
  color: white;
  font-size: 16px;
}

.dropdown-margin{
  min-width: 0px !important;
}

.table-fixed {
  table-layout: fixed;
  overflow: hidden;
}

.shadow-style{
  filter: drop-shadow(5px 1px 5px #666666);
}

.navbar-custom {
  background-color: #007bff;
  .navbar-toggler-icon {
  background-image:
          url(
          "data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>"
        )
  }
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #F3EBEA;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.datatable-style-centered{
  border-radius: 4px;
  display: inline-table;
}

$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: $height-footer;
    background-color: #F2F2F2;
    .footer-block {
      margin: 20px 0;
    }
  }
}

.copyleft{
  font: 18px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}
