<legend class="center mt-4">Agendar Cita Médica</legend>

<%= render 'form', appointment: @appointment %>
<div class="center">
  <%= link_to 'Volver atrás', appointments_path,class:"btn btn-sm btn-primary mt-3" %>
</div>