$("#medical_history_<%= @medical_history.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Historial eliminado correctamente").show();
